<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamzipup.zipup.mapper.UserMapper">

    <select id="" >
        SELECT * FROM
    </select>
    <!-- 이용자 회원가입  -->
    <insert id="insertUser" parameterType="com.teamzipup.zipup.dto.User">
        INSERT INTO USER (ROLE, EMAIL, PASSWORD, ADDRESS, USERNAME, PHONENUMBER)
        VALUES (#{role}, #{email}, #{password}, #{address}, #{userName}, #{phoneNumber});
    </insert>




</mapper>