<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZIP UP</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div th:replace="~{layout/header :: header}"></div>

<div class="content">
  <main>
    <!-- 배너 -->
    <div class="banner">
      <img src="/images/img/mainBanner.png" alt="mainBanner" style="width: 100%; height: auto;">
    </div>

    <!-- 상품 리스트 -->
    <div th:replace="~{productList :: productList}"></div>
  </main>
</div>

<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>
