<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>상품 상세 페이지</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<!-- 헤더 삽입 -->
<th:block th:replace="~{layout/header :: header}"></th:block>

<!-- 전체 컨테이너 -->
<form action="/purchase/completed/" method="get">
    <div class="detail-container">
        <!-- 좌측 상단 그리드 -->
        <div class="left-section">
            <div class="image">
                <img th:src="@{${product.image}}" alt="상품 이미지" class="product-image"/>
            </div>
        </div>

        <!-- 우측 상단 그리드 -->
        <div class="right-section">
            <div class="seller-name">
                <img src="/images/svg/home.svg">
                <span th:text="${companyName}">상호명</span><br>
            </div>

            <div class="product-name">
                <span th:text="${product.productName}">상품명</span><br>
            </div>

            <div class="product-price">
                <p class="won"><span class="price" th:text="${formattedPrice}"></span>원</p>
            </div>

            <hr class="line">

            <!-- 옵션 선택 -->
            <div class="options">

                <!-- 색상 옵션 -->
                <div class="option-select-btn">
                    <label class="option-label">옵션 선택</label>
                    <select class="option-select">
                        <option value="" disabled selected>색상을 선택하세요</option>
                        <option th:each="option : ${option1List}" th:value="${option}" th:text="${option}"></option>
                    </select>

                    <select class="option-select">
                        <option value="" disabled selected>사이즈를 선택하세요</option>
                        <option th:each="option : ${option2List}" th:value="${option}" th:text="${option}"></option>
                    </select>
                </div>
                <div class="total-price">
                    <label class="option-label">총 상품 금액</label>
                    <div class="total-price-div">
                        <p class="won"><span class="price" th:text="${formattedPrice}"></span>원</p></div>
                </div>

                <button type="submit" class="zipup-btn">바로 구매</button>
            </div>
        </div>


        <!-- 하단 상세 이미지 -->
        <div class="bottom-section">
            <div class="detail-image">
                <img class="description" th:src="@{${product.description}}" alt="상세 이미지"/>
            </div>
        </div>
    </div>
    <div th:replace="~{layout/footer :: footer}"></div>
</form>
</body>
</html>
