<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원가입</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<div class="zipup-container">
  <img
          src="/images/svg/logo.svg"
          alt="ZIP UP"
          class="zipup-logo"
  />
  <div class="userSignupContainer">
    <h1 class="zipup-label">로그인 정보</h1>
    <input class="zipup-input" type="text" placeholder="이메일" /><br />
    <input class="zipup-input" type="text" placeholder="비밀번호" /><br />

    <h1 class="zipup-label">개인 정보</h1>
    <input class="zipup-input" type="text" placeholder="이름" /><br />
    <input
            class="zipup-input"
            type="text"
            placeholder="전화번호(-없이 작성)"
    /><br />
    <input class="zipup-input" type="text" placeholder="주소" /><br /><br />
    <button class="zipup-btn">가입 완료</button>
  </div>
</div>
<div th:replace="layout/footer :: footer"></div>
</body>
</html>
